.black-line {
  border: none;             
  border-top: 2px solid black; 
  margin: 20px 0;           
}

body {
  text-align: center;
}

.center-text {
  text-align: center;  
}

.center-container {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  height: 100vh;              
  text-align: center;         
}


.form-container {
  display: flex;             
  justify-content: center;    
  align-items: center;        
  height: 100vh;              
  text-align: center;         
}

.site-footer {
  background-color: #222;    
  color: #eee;               
  padding: 30px 20px;
  font-family: 'Georgia', serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li {
  margin: 5px 0;
}

.footer-center a, .footer-right a {
  color: #eee;
  text-decoration: none;
}

.footer-center a:hover, .footer-right a:hover {
  color: gold;               
}

